<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="test suite">
<test name="test case">
<classes>
<class name="testcase.testcase.CreateLead"></class>
<class name="testcase.testcase.DeleteLead"></class>
<class name="testcase.testcase.DuplicateLead"></class>
<class name="testcase.testcase.EditLead"></class>
<class name="testcase.testcase.MergeLead"></class>
</classes>
</test>
</suite>